:root {
    background-color: rgba(255, 105, 180, 0.05) !important;
    --mc-page-bg: #fbd9e9;
}

.app-header .ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)::before {
    background: linear-gradient(135deg, #d58cfa, #ff5959) !important;
}
