:root {
    /*    --ant-primary-color: #ff69b4 !important;*/
    background-color: rgba(237, 65, 146, 0.2) !important;
    --mc-page-bg: #fbd9e9;
}

body::before {
    background-image: url("https://www.loliapi.com/acg/pc/") !important;
    opacity: 0.1;
    z-index: 9999 !important;
}

.app-header .ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)::before {
    background: linear-gradient(135deg, #d58cfa, #ff5959) !important;
}

